{
  "$schema": "http://json.schemastore.org/prettierrc",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^config/(.*)$",
    "^components/(.*)$",
    "^core-ui/(.*)$",
    "^context/(.*)$",
    "^hooks/(.*)$",
    "^helpers|utils/(.*)$",
    "^interface/(.*)$",
    "^routes/(.*)$",
    "^pages/(.*)$",
    "^assets/(.*)$",
    "^constants/(.*)$",
    "^[./]((?!.(sc|sa|c)ss)(?!.json).)*$",
    "\\.json$",
    "\\.(sc|sa|c)ss$"
  ]
}
